@use "../../styles/partials/typography.scss" as *;

.title {
  font-family: "ArchitectsDaughter-Regular";
}

.video {
  display: flex;
  position: relative;
  height: 100%;
  padding-top: none;
}

.title {
  text-align: center;
  color: aliceblue;
  margin: none;
  padding: none;
}
